@import "tailwindcss";

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.gstatic.com/s/poppins/v15/pxiYyp8kv8JHgFVrJJLucXc.woff2') format('woff2'),
         url('https://fonts.gstatic.com/s/poppins/v15/pxiYyp8kv8JHgFVrJJLucXc.woff') format('woff');
}

@theme {

    /* Colores */

    --color-vet-dark: #16697A;
    --color-vet-blue: #489FB5;
    --color-vet-light: #82C0CC;
    --color-vet-cream: #EDE7E3;
    --color-vet-orange: #FFA62B;
    --color-vet-taupe: #B6A396;
    --color-vet-green: #ADD37C;

    /* Responsive */

    --breakpoint-xs: 20rem;
}

* {
    scroll-behavior: smooth;
    font-family: 'Poppins', system-ui, sans-serif;
}

.nav-light {
    color: black !important;
}

.nav-light .text-white {
    color: black !important;
}

.nav-light .bg-white {
    background-color: #ffa62b !important;
}

.nav-light .text-vet-blue {
    color: black !important;
}

.nav-light .bg-vet-orange {
    background-color: #ffa62b !important;
}

.nav-light .text-vet-orange {
    color: #16697A !important;
}

.nav-light .border-white\/20 {
    border-color: rgba(22, 105, 122, 0.2) !important;
}

.nav-light .bg-vet-dark\/90 {
    background-color: #add37c !important;
}

.nav-light .hover\:text-vet-light:hover {
    color: #ffa62b !important;
}

.nav-light .hover\:bg-vet-orange\/90:hover {
    background-color: rgba(22, 105, 122, 0.9) !important;
}

button{
    cursor: pointer;
}